.contact-section{
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F4F9;
  justify-content: center;
}

.contact-section h2{
  font-size: 40px;
  text-decoration: underline;
  margin-top: -65px;
}

.contact-section p{
  margin-top: -20px;
}


.contact-section form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: 700px;
  height: 400px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #E7F0DC;
}

.contact-section input,textarea{
  width: 500px;
  height: 25px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  padding-left: 10px;
  font-family: 'poppins';
}

.contact-section input:focus,textarea:focus{
  outline: none;
  box-shadow: #597445 3px 3px 3px;
}

#msg{
  width: 500px;
  height: 150px;
  resize: none;
  font-family: 'poppins';
}

.contact-section button{
  background-color: #597445;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: #F0F4F9;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.contact-section button:hover{
  box-shadow: #597445 3px 3px 3px;
}