.home-inner-one{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: aliceblue;
  padding: 50px;
  border-radius: 25px;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.home-inner-one h1{
  font-size: 40px;
}
.home-inner-one p{
  font-size: 18px;
}

.home-inner-one button{
  background-color: #597445;
  border: none;
  border-radius: 5px;
  color: #f9f9f9;
  font-size: 18px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
}
.home-bg-two-ult{
  width: 100vw;
  height: 90vh;
  background-image: url("../assets/collage.jpg");
  background-size: contain;
  z-index: -100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-bg-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.intro-overview{
  width: 90%;
  backdrop-filter: blur(10px);
  color: #f9f9f9;
  padding: 20px;
  text-align: justify;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #597445;
}

.intro-mission-vision{
  width: 90%;
  display: flex;
  color: #f9f9f9;
  flex-direction: row;
  text-align: justify;
  gap: 25px;
}

.mission,.vision{
  width: 50%;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: -15px;
  background-color: #597445;
}

.vision{
  margin-right: -15px;
  background-color: #c2ee8d;
  color: black;
}

.mission{
  background-color: #9eba89;
  color: black;
}

.home-bg-three{
  width: 100vw;
  height: 100vh;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(89,116,69);
  background: radial-gradient(circle, rgba(89,116,69,1) 2%, rgba(255,255,255,1) 95%);
}


.home-bg-three-heading{
  color: #f9f9f9;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  height: 500px;
  width: 1000px;
}
.grid-item {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  /* border: 2px solid #000; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  font-size: 1.2em;
  position: relative; /* Needed for absolute positioning of the overlay */
  overflow: hidden; /* Ensures the background image and overlay don't spill out of the div */
  background-size: cover; /* Ensure the background covers the whole area */
  background-position: center; /* Center the background image */
  transition: transform 0.3s linear; /* Smooth transition for zoom effect */
}

.grid-item:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  z-index: 20;
}

.crop-prediction {
  grid-column: 1 / span 2;
  background-image: url('../assets/cp.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.crop-statistics{
  background-image: url('../assets/fs.jpg');
  background-size: cover;
}


.scan-plant {
  grid-row: 2 / span 2;
  grid-column: 1/span 1;
  background-image: url('../assets/sp.png');
  background-size: cover;
}
.drone-service {
  grid-column: 2 / span 2;
  background-image: url('../assets/dronee.png');
  background-size: cover;
}
.yield-prediction {
  grid-column: 2 / span 1;
  grid-row: 3;
  background-image: url('../assets/yp.png');
  background-size: cover;
}

.rovers{
  grid-column: 3;
  background-image: url('../assets/r.png');
  background-size: cover;
  position: relative;
}

.rovers {
  position: relative; /* Needed for positioning the overlay */
  overflow: hidden; /* Ensures the overlay doesn't spill out of the div */
}
.grid-item .overlay {
  clip-path: polygon(30% 4%, 42% 11%, 52% 25%, 100% 26%, 100% 62%, 100% 100%, 0 100%, 0 19%, 5% 7%, 16% 4%);

  font-size: small;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  border-radius: 0 0 10px 10px; /* Match the parent border radius */
  transition: all 0.3s linear; /* Smooth transition */
  transform: translateY(60%); /* Initially hide the overlay by moving it down */
}
.grid-item:hover .overlay {
  transform: translateY(0); /* Move the overlay up to show it on hover */
}

.overlay h3{
  text-align: left;
}