/* src/ControlPanel.css */
.control-panel {
    text-align: center;
    margin-top: 50px;
  }
  
  .controls button {
    width: 100px;
    height: 100px;
    font-size: 20px;
    margin: 10px;
  }
  
  .controls > div {
    display: flex;
    justify-content: center;
  }
  
  .sensor-readings {
    margin-top: 20px;
  }
  
  .message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
  }
  