.user-bg{
    height: 40vh;
    width: 100vw;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    background-color: white;
}