.hor-card-main{
    width: 600px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .hor-card-img{
    width: 170px;
    height: 170px;
  }
  
  .hor-card-heading{
    background-color: #FFFFFF;
    color: #597445;
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 800;
    text-decoration: none;
  }
  
  .hor-card-parah{
    text-align: center;
    margin-top: 5px;
  }

  .hor-sec-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }