body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.home-bg{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 70px;
}

.home-up{
    margin-top: -10px;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.home-down{
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-least{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-least img{
    height: 50px;
}

.main-heading{
    color: #bdb6e5;
    font-size: 50px;
}

.main-heading span{
    color: #f3cdcd;
    font-size: 90px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

#navbar{
    position: fixed;
    width: 45%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    justify-content: space-around;
}

#navbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #231B55;
    /* filter: blur(50px); */
    z-index: -1;
}

.sections{
    display: block;
    z-index: 11;
    color: aliceblue;
    font-family: 'MyCustomFont', sans-serif;
    text-decoration: none;
}

.sections:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.sections:active{
    color: #07073E;
}


/* -------------------------------------------------------------------------------------------------- */

.about-main{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/stacked-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abt-parah{
    height: 50%;
    width: 50%;
    color: #ffffff;
}

.abt-parah h1{
    font-size: 50px;
}

.abt-parah p{
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    color: #bdb6e5;
}


/* -------------------------------------------------------------------------------------------------- */


.skills-main{
    width: 100vw;
    height: 100vh;
    background-color: #07073E;
    padding-top: 10px;
    text-align: center;
}


.skills-main h1{
    padding-top: 105px;
    color: #ffffff;
    font-size: 45px;
}



.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.text-box{
    padding: 20px 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 30% cover 20%;
    /* box-shadow: #e142e3 0px 20px 30px -10px; */
}

.left{
    left: -8%;
}

.right{
    left:50%;
}

.container img{
    position: absolute;
    width: 50px;
    /* border-radius: 50%; */
    right: -25px;
    top: 32px;
    z-index: 10;
    background-color: #07073E;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 30% cover 20%;
}

.right img{
    left: -25px;
}

.timeline::after{
    content: '';
    position:absolute;
    width: 6px;
    height: 100%;
    background: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    /* z-index: .5; */
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 0%;
}


.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 50;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -12px;
}
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 50;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -12px;
}

/* ------------------------------------------------------------------------------------------------------------------- */

.projects-main{
    width: 100vw;
    height: 100vh;
    background-color: #07073E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-up{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.projects-heading{
    font-size: 45px;
}

.projects-down{
    width: 70%;
    height: 60%;
    
}