body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.home-bg{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size:cover;
}

.main-heading{
    color: aliceblue;
}