body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.home-bg{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading{
    color: #bdb6e5;
    font-size: 50px;
}

.main-heading span{
    font-size: 90px;
}