body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.home-bg{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 70px;
}

.home-up{
    margin-top: -10px;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.home-down{
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-down-one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-right: 50px;
}

.home-down-one img{
    height: 30px;
    transition: height 0.3s ease;
}

.home-down-one img:hover{
    height: 45px;
    filter: drop-shadow(4px 5px 4px #ffffff);
    /* box-shadow: #bdb6e5; */
}

.home-least{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-least img{
    height: 50px;
    padding-right: 50px;
}

.main-heading{
    color: #bdb6e5;
    font-size: 50px;
}

.main-heading span{
    color: #f3cdcd;
    font-size: 90px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

#navbar{
    position: fixed;
    right: 0;
    width: 45%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    justify-content: space-around;
}

#navbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #231B55;
    /* filter: blur(50px); */
    z-index: -1;
}

.sections{
    display: block;
    z-index: 11;
    color: aliceblue;
    font-family: 'MyCustomFont', sans-serif;
    text-decoration: none;
}

.sections:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.sections:active{
    color: #07073E;
}


/* -------------------------------------------------------------------------------------------------- */

.about-main{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/stacked-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abt-parah{
    height: 50%;
    width: 50%;
    color: #ffffff;
}

.abt-parah h1{
    font-size: 50px;
}

.abt-parah p{
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    color: #bdb6e5;
}


/* -------------------------------------------------------------------------------------------------- */


.skills-main{
    width: 100vw;
    height: 120vh;
    background-color: #061B44;
    padding-top: 10px;
    text-align: center;
}


.skills-main h1{
    padding-top: 105px;
    color: #ffffff;
    font-size: 45px;
}



.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.text-box{
    padding: 20px 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 30% cover 20%;
    /* box-shadow: #e142e3 0px 20px 30px -10px; */
}

.left{
    left: -8%;
}

.right{
    left:50%;
}

.container img{
    position: absolute;
    width: 50px;
    /* border-radius: 50%; */
    right: -25px;
    top: 32px;
    z-index: 10;
    background-color: #07073E;
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 30% cover 20%;
}

.right img{
    left: -25px;
}

.timeline::after{
    content: '';
    position:absolute;
    width: 6px;
    height: 100%;
    background: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    /* z-index: .5; */
    animation: sr3 ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 0%;
}


.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 50;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -12px;
}
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 50;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -12px;
}

.lang{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.lang-inner{
    padding: 5px;
    border: 2px white solid;
    min-width: 50px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------- */

.projects-main{
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/projects-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-up{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.projects-heading{
    font-size: 45px;
}

.projects-down{
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* ----------------------------------------------------------------------------------------------------------------- */

.card-main{
    min-height: 460px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 25px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-one{
    height: 30%;
    width: 80%;
}

.card-one img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.card-two{
    height: 20%;
    width: 80%;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}

.card-two h1{
    margin-bottom: 15px;
}

.card-two p{
    margin-top: 0;
    font-size: 13px;
    text-align: justify;
    text-indent: 35px;
}

.card-three{
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.git-outer{
    height: 60%;
    width: 80%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: width 0.5s ease;
}

.git-outer img{
    height: 40px;
}

.git-outer:hover{
    width: 100%;
    cursor: pointer;
}



/* ------------------------------------------------------------------------------------ */

.contact-section{
    min-height: 113vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/contact-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
  }
  
  .contact-section h2{
    color: #ffffff;
    font-size: 40px;
    /* text-decoration: underline; */
    margin-top: -65px;
  }
  
  .contact-section p{
    margin-top: -20px;
  }
  
  
  .contact-section form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 700px;
    height: 400px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #4d4969;
  }
  
  .contact-section input,textarea{
    width: 500px;
    height: 25px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'poppins';
  }
  
  .contact-section input:focus,textarea:focus{
    outline: none;
    box-shadow: #2c2558 3px 3px 3px 3px;
}

#msg{
    width: 500px;
    height: 150px;
    resize: none;
    font-family: 'poppins';
}

.contact-section button{
    background-color: #231B55;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #F0F4F9;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.contact-section button:hover{
    box-shadow: #2c2558 3px 3px 3px 3px;
  }

/* ----------------------------------------------------------------------------------------------------------- */

#navbar {
    position: fixed;
    width: 35%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231B55;
    border-bottom: 2px solid #f3cdcd;
    z-index: 1000;
}

#navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #231B55;
    z-index: -1;
}

.sections {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #bdb6e5;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* .sections::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #f3cdcd;
    transition: width 0.3s ease;
} */

.sections:hover::after {
    width: 100%;
}

.sections:hover {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.sections {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #bdb6e5;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 18px;
    transition: color 0.3s ease, text-decoration-color 0.3s ease, text-decoration-thickness 0.3s ease;
}

.sections:hover {
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    text-decoration: underline;
    text-decoration-color: #f3cdcd;
    text-decoration-thickness: 2px;
}


.sections.active {
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}


.home-bg,
.about-main,
.skills-main,
.projects-main {
    width: 100%;
    overflow-x: hidden;
}


/* ---------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1373px) {
    #navbar{
        width: 50%;
    }
}
@media screen and (max-width: 1004px){
    #navbar{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .home-down-one, .home-down, .home-up, .home-least,
    .projects-up, .projects-down, .card-main,
    .contact-section form, .timeline, .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .card-main, .container {
        width: 90%;
        margin: auto;
    }

    /* .home-down-one img,
    .home-least img {
        height: 30px;
        max-width: 100%;
    } */

    /* Adjust paddings and gaps */
    .home-down-one {
        gap: 30px;
        /* padding-right: 10px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .home-least img{
        height: 50px;
        padding-right: 0px;
    }
    .abt-parah{
        width: 70%;
    }
    .abt-parah p{
        text-indent: 100px;
    }
}

/* Additional adjustment for screens below 500px */
@media screen and (max-width: 500px) {
    /* Ensure no overflow */
    .home-bg,
    .about-main,
    .skills-main,
    .projects-main,
    .contact-section,
    .home-down-one,
    .home-up,
    .home-least,
    .projects-up,
    .projects-down,
    .card-main,
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    .navbar {
        width: 100%;
    }
    
    /* Reduce size of elements */
    .main-heading {
        font-size: 40px;
    }

    .card-main {
        width: 95%;
        margin: 10px auto;
    }
    
    .home-down-one img {
        max-width: 30px;
        height: auto;
    }
    
    /* Adjust padding/margin/gaps */
    .home-down-one {
        gap: 5px;
    }
    .home-down-one {
        gap: 30px;
        /* padding-right: 10px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .lang {
        gap: 5px;
    }
    
}