body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.home-bg{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 70px;
}

.home-up{
    margin-top: -10px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.home-down{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading{
    color: #bdb6e5;
    font-size: 50px;
}

.main-heading span{
    color: #f3cdcd;
    font-size: 90px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

#navbar{
    position: fixed;
    width: 45%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    justify-content: space-around;
}

#navbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #231B55;
    /* filter: blur(50px); */
    z-index: -1;
}

.sections{
    display: block;
    z-index: 11;
    color: aliceblue;
    font-family: 'MyCustomFont', sans-serif;
    text-decoration: none;
}

.sections:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.sections:active{
    color: #07073E;
}