#hero, .footer-main {
    width: 100vw;
    height: 15vh;
    background-color: #13181F;
    position: relative;
    color: white;
}

.footer-main {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#canvasBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
