@keyframes moveBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .bg-moving {
    background: linear-gradient(45deg, #3b82f6, #9333ea, #10b981, #f97316);
    background-size: 400% 400%;
    animation: moveBackground 5s ease infinite; /* Increased speed to 5s */
  }
  
  .cc {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .cc-1 {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    background-color: #061B44;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .skills-up {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    align-items: center;
    justify-content: center;
    gap: 20px; /* Reduces the gap between skill cards */
    padding: 10px; /* Optional padding for better spacing */
  }
  